---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);


.page-header { 
  color: #fff; 
  text-align: center; 
  background-color: #2980b9; 
  background-image: linear-gradient(120deg, #2c3e50, #2980b9); 
}

body {
  font-family: "Rounded Mplus 1c", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #2c3e50
}

